<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fsy.controlstrategy.mapper.TransportOrderMapper">
    <resultMap id="BaseResultMap" type="com.fsy.controlstrategy.entity.TransportOrder">
        <result column="id" jdbcType="INTEGER" property="id"/>
        <result column="supperlier" jdbcType="VARCHAR" property="supperlier"/>
        <result column="license_number" jdbcType="VARCHAR" property="licenseNumber"/>
        <result column="order_number" jdbcType="INTEGER" property="orderNumber"/>
        <result column="items" jdbcType="VARCHAR" property="items"/>
        <result column="specification" jdbcType="VARCHAR" property="specification"/>
        <result column="rough_weight" jdbcType="DECIMAL" property="roughWeight"/>
        <result column="suttle" jdbcType="DECIMAL" property="suttle"/>
        <result column="unit_price" jdbcType="DECIMAL" property="unitPrice"/>
        <result column="total_amount_order" jdbcType="DECIMAL" property="totalAmountOrder"/>
        <result column="report_year" jdbcType="VARCHAR" property="reportYear"/>
        <result column="supplier_station" jdbcType="VARCHAR" property="supplierStation"/>
        <result column="order_date" jdbcType="TIMESTAMP" property="orderDate"/>
        <result column="valid" jdbcType="TINYINT" property="valid"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>
    <insert id="insert" parameterType="com.fsy.controlstrategy.entity.TransportOrder">
    insert into transport_order (id, supperlier, license_number,
      order_number, items, specification,
      rough_weight, suttle, unit_price,
      total_amount_order, report_year, supplier_station,
      order_date, valid, create_time,
      update_time)
    values (#{id,jdbcType=INTEGER}, #{supperlier,jdbcType=VARCHAR}, #{licenseNumber,jdbcType=VARCHAR},
      #{orderNumber,jdbcType=INTEGER}, #{items,jdbcType=VARCHAR}, #{specification,jdbcType=VARCHAR},
      #{roughWeight,jdbcType=DECIMAL}, #{suttle,jdbcType=DECIMAL}, #{unitPrice,jdbcType=DECIMAL},
      #{totalAmountOrder,jdbcType=DECIMAL}, #{reportYear,jdbcType=VARCHAR}, #{supplierStation,jdbcType=VARCHAR},
      #{orderDate,jdbcType=TIMESTAMP}, #{valid,jdbcType=TINYINT}, #{createTime,jdbcType=TIMESTAMP},
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
    <insert id="insertSelective" parameterType="com.fsy.controlstrategy.entity.TransportOrder">
        insert into transport_order
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="supperlier != null">
                supperlier,
            </if>
            <if test="licenseNumber != null">
                license_number,
            </if>
            <if test="orderNumber != null">
                order_number,
            </if>
            <if test="items != null">
                items,
            </if>
            <if test="specification != null">
                specification,
            </if>
            <if test="roughWeight != null">
                rough_weight,
            </if>
            <if test="suttle != null">
                suttle,
            </if>
            <if test="unitPrice != null">
                unit_price,
            </if>
            <if test="totalAmountOrder != null">
                total_amount_order,
            </if>
            <if test="reportYear != null">
                report_year,
            </if>
            <if test="supplierStation != null">
                supplier_station,
            </if>
            <if test="orderDate != null">
                order_date,
            </if>
            <if test="valid != null">
                valid,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="supperlier != null">
                #{supperlier,jdbcType=VARCHAR},
            </if>
            <if test="licenseNumber != null">
                #{licenseNumber,jdbcType=VARCHAR},
            </if>
            <if test="orderNumber != null">
                #{orderNumber,jdbcType=INTEGER},
            </if>
            <if test="items != null">
                #{items,jdbcType=VARCHAR},
            </if>
            <if test="specification != null">
                #{specification,jdbcType=VARCHAR},
            </if>
            <if test="roughWeight != null">
                #{roughWeight,jdbcType=DECIMAL},
            </if>
            <if test="suttle != null">
                #{suttle,jdbcType=DECIMAL},
            </if>
            <if test="unitPrice != null">
                #{unitPrice,jdbcType=DECIMAL},
            </if>
            <if test="totalAmountOrder != null">
                #{totalAmountOrder,jdbcType=DECIMAL},
            </if>
            <if test="reportYear != null">
                #{reportYear,jdbcType=VARCHAR},
            </if>
            <if test="supplierStation != null">
                #{supplierStation,jdbcType=VARCHAR},
            </if>
            <if test="orderDate != null">
                #{orderDate,jdbcType=TIMESTAMP},
            </if>
            <if test="valid != null">
                #{valid,jdbcType=TINYINT},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>

    <!-- 查询符合条件的订单信息 -->
    <select id="getAllTransportOrder" resultMap="BaseResultMap">
        select * from transport_order where valid =1
        <if test="startDate != null">
            and order_date >= #{startDate}
        </if>
        <if test="endDate != null">
            and order_date &lt;= #{endDate}
        </if>
        <if test="orderNumber != null">
            and order_number = #{orderNumber}
        </if>
        <if test="supplierStation != null">
            and supplier_station = #{supplierStation}
        </if>
        <if test="items != null">
            and items = #{items}
        </if>
        <if test="lastUt !=null">
            and update_time >= #{lastUt}
        </if>
        <if test="currentDate !=null">
            and update_time &lt;= #{currentDate} and id > #{lastId} order by id desc
        </if>
        <if test="limit != null">
            limit #{limit}
        </if>
    </select>

    <!-- 批量更新错误的订单总额 -->
    <update id="updateTotalAmountOrderById" parameterType="list">
        update transport_order
        <trim prefix="set" suffixOverrides=",">
            <trim prefix="total_amount_order =case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.totalAmountOrder!=null">
                        when id=#{item.id} then #{item.totalAmountOrder}
                    </if>
                </foreach>
            </trim>
            <trim prefix="update_time =case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when id=#{item.id} then now()
                </foreach>
            </trim>
        </trim>
        where id in
        <foreach collection="list" item="item" index="index" separator="," open="(" close=")">
            #{item.id}
        </foreach>
    </update>
</mapper>